*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    width: 540px;
    height: 396px;
    padding: 19px 32px;
    background-color: #24232C;
    font-size: 16px;
    font-family: sans-serif;
}