*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
<<<<<<< HEAD
.nav{
    display: flex;
}
.copy-div{
    display: flex;
}
=======
body{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
>>>>>>> 5e65253cdae98de170646775843ed2e8d82e11cd
